.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 8px;
  background-color: #225a8b55;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
