button {
  border: none;
  background-color: rgb(153, 44, 204);
  font-size: 24px;
  color: rgb(255, 231, 77);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(61, 43, 184);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(153, 44, 204);
}

.equals:hover {
  background-color: rgb(15, 214, 228);
}
