button {
  border: none;
  background-color: rgb(153, 44, 204);
  font-size: 30px;
  color: rgb(255, 231, 77);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

button:hover {
  background-color: rgb(61, 43, 184);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(124, 8, 178);
}

.equals:hover {
  background-color: rgb(15, 214, 228);
}
